.border-top-green {
  border-top: 1px solid #11b54e;
  border-top-width: 1px;
}

.p15 {
 padding: 15px;
}

.btn-add-painel {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 1000px;
  border-color: #611E57 !important;
  background-color: #611E57 !important;
  color: #FFF !important;
}

.btn-float {
  padding: 15px;
  white-space: normal;
  -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
  box-shadow: 0 6px 10px rgba(0,0,0,.15);
}
.no-padding {
  padding: 0;
}

.n-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}


.image-painel {
  background: #a8a8a8 url(/images/photo-camera.png?b9ee0d6be58331d7e83ec3187e49e22b) no-repeat !important;
  background-size: 50px 50px !important;
  background-position: center center !important;
  max-width: 100%;
  height: 200px;
  max-height: 200px;
  border-radius: 15px;
  cursor: pointer;
}

.imagem-small {
  background: #a8a8a8 url(/images/photo-camera.png?b9ee0d6be58331d7e83ec3187e49e22b) no-repeat !important;
  background-size: 50px 50px !important;
  background-position: center center !important;
  width: 47%;
  height: 100px;
  max-height: 98px;
  margin-left: 5px;
  float: left;
  display: block;
  margin-bottom: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.pipeline-item {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid #d1d4e8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  min-height: 150px;
}

.pipeline-item .pi-controls {
  position: absolute;
  top: 5px;
  right: 10px;
  line-height: 1;
}

.bgimg {
  margin-right: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 150px;
  width: 100%;
  height: 150px;
  border-radius: 0;
  background-size: 100% auto !important;
  background-position: center !important;
}
.avatar {
  position: relative;
  width: 30px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom;
}

.pipeline-item {
  cursor: pointer;
}

.pipeline-item .pi-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  padding: 10px 15px;
}
.pipeline-item .pi-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px;
}

.pipeline-item .pi-body .pi-name {
  margin-bottom: 0px;
}

.pipeline-item .pi-body .pi-sub {
  color: rgba(0, 0, 0, 0.5);
  font-size: .81rem;
}

.no-padding {
  padding: 0 !important;
}
.painel-detalhe {
  margin-top: 50px;
  color: #979797;
}

table.w-100 {
  width: 100%;
}
.no-padding {
  padding: 0 !important;
}
.w-100 {
  width: 100% !important;
}
.documentacao-list {
  list-style: none;
  padding-left: 0;
}

.timeline {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-left: 40px;
}

.documentacao-list > li:first-child {
  background: #D6D7D8;
  padding: 5px;
}

.documentacao-list > li:first-child {
  background: #D6D7D8;
  padding: 5px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group .button:first-child {
  border-radius: 26px 0 0 26px;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.btn-group .button {
  border-radius: 0;
}
.button {
  padding: 10px;
  background: #FDFDFD;
  color: #CBCBCB !important;
}

.btn-group .button:last-child {
  border-radius: 0 26px 26px 0;
  margin-left: -1px;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.btn-group .button {
  border-radius: 0;
}
.button {
  padding: 10px;
  background: #FDFDFD;
  color: #CBCBCB !important;
}

.timeline-circ.circ-xl {
  top: 6px;
  width: 38px;
  height: 38px;
  margin-left: -19px;
}
.style-blue {
  background: #9DC3EF;
}
.timeline-circ {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-left: -10px;
  text-align: center;
  background: #969c9c;
  color: #ffffff;
  border-width: 3px;
  border-style: solid;
  border-color: #fff !important;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.timeline li {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.timeline::before {
  top: 10px;
  bottom: 50px;
  position: absolute;
  content: " ";
  width: 4px;
  background-color: #0c0c0c;
  opacity: 0.15;
  left: 0;
  margin-left: -2px;
}

.style-blue {
  background: #9DC3EF;
}

.timeline-circ.circ-xl {
  top: 6px;
  width: 38px;
  height: 38px;
  margin-left: -19px;
}
.style-red {
  background: #E3A2A2;
}

.timeline-entry {
  position: relative;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  margin: 0 -3px 0 0;
  margin-top: 0px;
  white-space: normal;
}

.nb-cd {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mb-25{
 margin-bottom: 50px;
}

.mt-25 {
  margin-top: 50px;
}

.painel-detalhe > table > tbody > tr > td:nth-child(1) {
  font-weight: 600;
  border-right: 4px solid #979797;
}
.painel-detalhe > table > tbody > tr > td {
  width: 50%;
  padding: 5px 0px;
}

.btn-purple {
  background: #611E57;
  border: none;
  height: 42px;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-group .button:first-child {
  border-radius: 26px 0 0 26px;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.button.active {
  color: #FDFDFD !important;
  background: #E8E9EC;
}
.btn-group .button {
  border-radius: 0;
}
.button {
  padding: 10px;
  background: #FDFDFD;
  color: #CBCBCB !important;
}

.painel-icon-marker {
  font-size: 1.4rem;
}

.painel-detalhe > table > tbody > tr > td:nth-child(1) {
  font-weight: 600;
  border-right: 4px solid #979797;
}
.painel-detalhe > table > tbody > tr > td {
  width: 50%;
  padding: 5px 0px;
}

.painel-detalhe > table > tbody > tr > td:nth-child(2) {
  padding-left: 5px;
}
.painel-detalhe > table > tbody > tr > td {
  width: 50%;
  padding: 5px 0px;
  padding-left: 0px;
}

.tag-primary {
  background-color: #00B5B8;
}
.tag {
  font-weight: 400;
}
.tag-primary {
  background-color: #0275d8;
}
.tag {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.table th, .table td {
  vertical-align: middle;
}